
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { box-sizing: content-box; }


body {
    display: flex;
    flex-direction: column;
    --color: #9c63e6;
    --color-hover: rgb(255, 134, 134);
    --text-color: rgb(255, 255, 255);
    --call-color: #63a4fa;
    --grey-color: #3a3a3a;
    background-color: #242424;
    --background-color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    --content-padding: 15%;
    overflow-x: hidden;
    position: relative;
}

p {
    font-weight: 400;
}

body .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color);
    z-index: 1;
    box-shadow: var(--shadow-elevation-high2);
    background-color: #2b2b2b;
}

.logo {
    font-size: 2em;
    font-weight: 900;
}

.logo:hover {
    filter: brightness(110%);
    text-shadow: 2px 2px 16px rgba(166, 166, 166, 0.185);
}

span {
    color:var(--color);
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 30px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    list-style: none;
    color: rgb(231, 231, 231);
    font-size: 1.2em;
}

.nav {
    border-bottom: 2px solid var(--color);
    transition: 0.2s ease;
    padding-bottom: 2px;
}

li .nav:hover {
    padding-bottom: 6px;
    border-bottom-width: 3px ;
}

/* main head section */

body .head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    padding-bottom: 4.2em;
    padding-top: 3em;
    box-shadow: 2px 4px 16px 0px rgb(35, 35, 35);
    position: relative;
}

.head img {
    flex: 2 1 400px;
    height: auto;
    width: 45em;
    border-radius: 12px;
    border-radius: 30px;
    box-shadow: var(--shadow-elevation-high2);
    z-index: 2;
}

.head-text {
    flex: 1 1 220px;
}

.head-text h1 {
    font-size: 3.5em;
    color: rgb(235, 235, 235);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
        65deg,
        hsl(287deg 86% 80%) 0%,
        hsl(280deg 86% 79%) 11%,
        hsl(273deg 86% 78%) 22%,
        hsl(267deg 85% 77%) 33%,
        hsl(260deg 85% 76%) 44%,
        hsl(253deg 84% 75%) 56%,
        hsl(245deg 83% 75%) 67%,
        hsl(237deg 82% 73%) 78%,
        hsl(230deg 83% 68%) 89%,
        hsl(223deg 83% 63%) 100%
    );
}

.head-text p {
    color: var(--text-color);
    filter: brightness(70%);
    font-size: 1.2em;
}

.signup {
    transition: 0.3s ease;
    background-image: var(--gradiant);

}

.signup:hover {
    box-shadow: 2px 2px 16px var(--color);
}

button {
    padding: 12px 22px;
    margin: 20px 0;
    background-color: var(--color);
    color: var(--text-color);
    border-radius: 22px;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    height: 2.3em;
    width: 14em;
    font-size: 1em;
}


/* Info display cards */

.info-show {
    display: flex;
    margin: 4em 0;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.info-svg {
    font-size: 0.6em;
    height: 6em;
    fill: var(--color);
    transition: 0.3s ease-out;
}

.info-svg:hover {
    fill: rgb(240, 240, 240);
}

.info-show li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1 130px;
    height: 18em;
    padding: 40px 16px;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: rgb(48, 48, 48);
}

.info-show li {
    box-shadow: var(--shadow-elevation-medium);
}

.info-show li:hover {
    box-shadow: var(--shadow-elevation-high);
     background-color: #3f3f3f;
}

.info-show li p {
    text-align: center;
    filter: brightness(75%);
    font-size: 1.2em;
}

.heading {
    text-align: center;
    font-size: 3em;
    filter: brightness(90%);
    padding-bottom: 0px;
    margin-bottom: 1.4em;
    color: rgb(210, 210, 210);
    margin-top: 0px;
    filter: brightness(77%);
}



/*Image and Info section, gallary */

.vertical-info h1 {
    text-align: center;
    font-weight: 900;
    color: #2d2d2d;
    font-size: 1300%;
    padding: 0;
    margin-bottom: -30px;
    letter-spacing: 0.16em;
    text-shadow: var(--shadow-elevation-high);
    background-clip: text;
    -webkit-background-clip: text;

   color: rgba(0,0,0,0); 

    text-shadow: 
    /*
       This must be the same as page bg in order for this to work.
       Without SCSS, you would do something like this:
         .05em .05em .05em rgb(255,255,255,.25),
    */
    .05em .05em .05em rgba(36, 36, 36, .25), 
    /* 
      For best result, take the color you want, then 
      make it darker and more saturated so the white 
      shadow above will boost it up to the proper 
      apparent value 
    */
    0 0 0 hsl(0, 0%, 11%);

}


body .vertical-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 15vh;
    margin: 2vh;
}

.vertical-info div {
    display: flex;
    flex: 1 1 480px;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: var(--grey-color);
    box-shadow: var(--shadow-elevation-high2);
    border-radius: 70px;
}

.vertical-info div p {
    font-size: 1.4em;
    flex: 1 1 170px;
    align-self: center;
    line-height: 1.9em;
    filter: brightness(70%);
}

.item-2 p {
    text-align: end;
}

.vertical-info div img {
    height: auto;
    width: 630px;
    border-radius: 60px;
    box-shadow: var(--shadow-elevation-high2);
}

.vertical-info #reverse {
    flex-direction: row-reverse;
}


/* quote section*/

body .quote {
    background-color: rgb(108, 108, 108);
    margin: 0 6vh;
    margin-top: 4em;
    padding: 40px 12vh;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(32, 32, 32, 0.585);
    transition: 0.5s;
}

.quote:hover {
    border-radius: 30px;
}

.quote em {
    font-size: 1.4em;
}

.author {
    text-align: right;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 1.2em;
}

/* action section */

.action {
    display: flex;
    align-items: center;   
    justify-content: space-between;
    gap: 20px;
    background-color: var(--call-color);
    padding: 30px 50px;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 16px rgba(13, 146, 235, 0.404);
}

.action div {
    flex: 1 2 400px;
}

h3 {
    margin: 5px 0;
    font-size: 1.6em;
}

.action div p {
    font-size: 1.2em;
}

.action button {
    flex: 0 1 12em;
}

.signup-lower {
    color: var(--call-color);
    background-color: var(--text-color);
    transition: 0.2s ease-in-out;
}

.signup-lower:hover {
    box-shadow: 2px 2px 16px rgba(255, 255, 255, 0.782);
}

.footer {
    text-align: center;
    padding: 8px 0;
    background-color: rgb(52, 52, 52);
    width: 100%;
    font-size: 12px;
    color: var(--text-color);
}

.footer div {
    filter: brightness(70%);
}

.header, head, .info, .quote, .vertical-info {
    padding: 20px var(--content-padding);
}

.author, p, h3 {
    color: var(--text-color);
}

.header, 
.head {
    background-color: rgb(66, 66, 66);
    padding: 20px var(--content-padding);
}

.action {
    margin: 4em var(--content-padding);
}

.footer {
    text-align: center;
    padding: 8px 0;
    background-color: rgb(52, 52, 52);
    width: 100%;
    font-size: 12px;
    color: var(--text-color);
}

.footer div {
    filter: brightness(70%);
}

/* svg spacer elements */

.spacer {
    aspect-ratio: 960/85;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    text-shadow: #2b2b2b;
}

.spacer2 {
    aspect-ratio: 900/35;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    text-shadow: #2b2b2b;
}

.layer1 {
    background-image: url(./svg/wave.svg);
}

.layer2 {
    background-image: url(./svg/wavetop.svg);
}

.layer3 {
    background-image: url(./svg/);
}

/* shadow effects and gradiants */

body {
    --gradiant: linear-gradient(
        65deg,
        hsl(287deg 86% 80%) 0%,
        hsl(280deg 86% 79%) 11%,
        hsl(273deg 86% 78%) 22%,
        hsl(267deg 85% 77%) 33%,
        hsl(260deg 85% 76%) 44%,
        hsl(253deg 84% 75%) 56%,
        hsl(245deg 83% 75%) 67%,
        hsl(237deg 82% 73%) 78%,
        hsl(230deg 83% 68%) 89%,
        hsl(223deg 83% 63%) 100%
        );
}

:root {
  --shadow-color: 0deg 0% 6%;
  --shadow-elevation-low:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.78),
    0.5px 1.4px 1.4px -1.9px hsl(var(--shadow-color) / 0.6),
    1.3px 4px 3.9px -3.8px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-medium:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.66),
    0.6px 1.7px 1.7px -1px hsl(var(--shadow-color) / 0.56),
    1.4px 4px 3.9px -1.9px hsl(var(--shadow-color) / 0.47),
    3.2px 9.5px 9.2px -2.9px hsl(var(--shadow-color) / 0.38),
    6.7px 20px 19.5px -3.8px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.61),
    1px 3px 2.9px -0.4px hsl(var(--shadow-color) / 0.57),
    1.9px 5.6px 5.5px -0.9px hsl(var(--shadow-color) / 0.52),
    3.3px 9.7px 9.5px -1.3px hsl(var(--shadow-color) / 0.48),
    5.5px 16.2px 15.8px -1.7px hsl(var(--shadow-color) / 0.44),
    8.8px 26.1px 25.4px -2.1px hsl(var(--shadow-color) / 0.4),
    13.6px 40.3px 39.2px -2.6px hsl(var(--shadow-color) / 0.35),
    20.2px 59.9px 58.3px -3px hsl(var(--shadow-color) / 0.31),
    28.9px 85.8px 83.5px -3.4px hsl(var(--shadow-color) / 0.27),
    40px 119px 115.8px -3.8px hsl(var(--shadow-color) / 0.22);
}

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low2:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.18),
    0.4px 1.3px 1.3px -1.9px hsl(var(--shadow-color) / 0.14),
    1.2px 3.5px 3.4px -3.8px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium2:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.15),
    0.5px 1.6px 1.5px -1px hsl(var(--shadow-color) / 0.13),
    1.2px 3.6px 3.5px -1.9px hsl(var(--shadow-color) / 0.11),
    2.8px 8.3px 8.1px -2.9px hsl(var(--shadow-color) / 0.09),
    5.8px 17.4px 16.9px -3.8px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-high2:
    0.3px 0.8px 0.8px hsl(var(--shadow-color) / 0.14),
    0.8px 2.5px 2.4px -0.4px hsl(var(--shadow-color) / 0.13),
    1.5px 4.5px 4.4px -0.9px hsl(var(--shadow-color) / 0.12),
    2.6px 7.7px 7.5px -1.3px hsl(var(--shadow-color) / 0.11),
    4.3px 12.7px 12.4px -1.7px hsl(var(--shadow-color) / 0.1),
    6.8px 20.3px 19.7px -2.1px hsl(var(--shadow-color) / 0.09),
    10.6px 31.3px 30.5px -2.6px hsl(var(--shadow-color) / 0.08),
    15.6px 46.5px 45.2px -3px hsl(var(--shadow-color) / 0.07),
    22.4px 66.5px 64.7px -3.4px hsl(var(--shadow-color) / 0.06),
    31px 92.1px 89.6px -3.8px hsl(var(--shadow-color) / 0.05);
}